.about__container {
    align-items: center;
    background-color: var(--dev-bkg);
    border-radius: 1rem;
    display: flex;
    height: auto;
    justify-content: center;
    width: 936px;
}

.about__container img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 200px;
    margin: 1rem;
    width: 200px;
}

.about__container p {
    color: var(--bright-color);
    font-size: 1.25rem;
    font-weight: 400;
    height: fit-content;
    line-height: 1.75rem;
    margin: 1rem;
    padding: 1.5rem;
    width: 580px;
}
