#exercise {
    align-items: center;
    background: var(--cor1);
    color: black;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    line-height: 2.35rem;
    padding: 2rem 0;
    width: 100%;
}

.exercise__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1136px;
}

.exercise__info {
    align-items: flex-end;
    background: var(--dev-bkg);
    border-radius: .5rem;
    box-shadow: 0 0 .5rem #141E27;
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
    height: 360px;
    flex-direction: column;
    justify-content: space-around;
    width: 520px;
}

.exercice__text {
    color: var(--clear-color);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 0;
}

.exercice__text h3 {
    font-size: 1.5rem;
    line-height: 1.85rem;
    text-align: end;
}

.exercice__text p {
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: end;
}

.exercise__technology {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.exercise__icon {
    display: flex;
    justify-content: flex-start;
    height: auto;
    padding: 1.5rem .5rem;
    width: 3.5rem;
}

.exercise__demo {
    background: #f78733;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 1rem;
    margin: .3rem;
    padding: .7rem 1.5rem;
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.exercise__demo:hover {
    background: #fc4a1a;
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.03);
}

.exercise__repo {
    background: #52658f;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 1rem;
    margin: .3rem;
    padding: .7rem 1.5rem;
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.exercise__repo:hover {
    background: #333a56;
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.03);
}

.exercise__link {
    text-decoration: none;
}