@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');

footer {
    align-items: center;
    color: white;
    background: var(--dev-bkg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

footer p {
    color: var(--cor1);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 1rem 0 1rem;
}

.media {
    display: flex;
    flex-direction: row;
}

.media a {
    color: var(--cor1);
    text-decoration: none;
}

.media a:hover {
    text-shadow: 0 0 1rem var(--bright-color);
    transform: scale(1.05);
}

.media i {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    padding: .75rem .75rem 1.5rem;
}

