.background {
	background-image: url(/assets/img/developer-bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.header__container {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 1136px;
}

.card {
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--alpha-color);
	height: 568px;
	width: 568px;
}

.background img {
	border-radius: 50%;
	height: 50%;
	width: 50%;
}

.texto {
	color: var(--bright-color);
	font-size: 1.25rem;
	font-weight: 500;
	height: 11.25rem;
	line-height: 2.25rem;
	padding: 1rem;
	width: 500px;
}
