nav {
    background-color: var(--dev-bkg);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.menu__container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 1136px;
}

.logo img {
    background-color: var(--clear-color);
    height: 3.5rem;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.menu a {
    color: var(--clear-color);
    display: flex;
    font-size: 1.1rem;
    margin: 0 1.1rem 0 0;
    text-decoration: none;
}

.menu a:hover {
    border-bottom: 1px solid var(--clear-color);
    transform: scale(1.1);
}

.menu .btn {
    border: 1px solid var(--clear-color);
    border-radius: .5rem;
    padding: .5rem;
    margin: 0 .5rem 0 0;
    box-shadow: .75rem var(--clear-color);
}

.menu .btn:hover {
    box-shadow:  0 0 .35rem .025rem var(--clear-color);
    transform: scale(1.05);
}