#skills {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    justify-content: center;
    line-height: 2.5rem;
    padding: 5rem 0 1rem 0;
}

.skills__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    padding: 2rem 0 5rem 0;
    width: 1136px;
}

.skill__box {
    background-color: #ffffff;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--dev-bkg);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 9rem;
    margin: 1rem;
    width: 8rem;
}

.skill__box:hover {
    box-shadow: 0 0 1.5rem var(--dev-bkg);
    transform: scale(1.02);
}

.skill__icon {
    height: 4rem;
    margin: 1rem;
    width: 4rem;
}

.skill__name {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
    text-align: end;
}


