@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url(nav_menu.css);
@import url(header.css);
@import url(videos.css);
@import url(about.css);
@import url(skill.css);
@import url(experience.css);
@import url(footer.css);

:root {
    font-family: 'Inter', sans-serif;
    --bright-color: #EAECF0;
    --border-color: #D0D5DD;
    --clear-color: #F9FAFB;
    --copyright-color: #98A2B3;
    --dark-color: #101828;
    --light-color: #ffffff;
    --main-color: #8E2424;
    --shadow-color: rgba(16, 24, 40, 0.05);
    --trasnparent-color: rgba(142, 36, 36, .05);
    --text-color: #667085;
    --paleblue: #03989e;
}

body {
    background-color: var(--dark_color);
    height: auto;
    width: 100%;
}

.container {

}
